<h3 class="mt-3">Realizar cadastro</h3>
<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6">
      <label for="nome">Nome Completo</label>
      <input
        formControlName="nome"
        type="text"
        class="form-control"
        id="nome"
        placeholder="Insira seu nome completo"
        name="nome"
      />
    </div>
    <div class="col-6">
      <label for="telefone">Telefone</label>
      <input
        formControlName="telefone"
        type="text"
        class="form-control"
        id="telefone"
        placeholder="(99) 9 9999-9999"
        mask="(00) 0 0000-0000"
        name="telefone"
      />
      <!-- (00) 0 0000-0000 -->
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <label for="dataNascimento">Data de Nascimento</label>
      <input
        formControlName="dataNascimento"
        type="date"
        class="form-control"
        id="dataNascimento"
        placeholder="dd/mm/aaaa"
        name="dataNascimento"
      />
    </div>
    <div class="col-6">
      <label for="cpf">CPF</label>
      <input
        formControlName="cpf"
        type="text"
        class="form-control"
        id="cpf"
        placeholder="999.999.999-99"
        mask="000.000.000-00"
        name="cpf"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <label for="email">E-mail</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="usuario@email.com"
        name="email"
      />
    </div>
    <div class="col-6">
      <label for="senha">Senha</label>
      <input
        formControlName="senha"
        type="password"
        class="form-control"
        id="senha"
        name="senha"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <label for="confirmacaoSenha">Confirmar Senha</label>
      <input
        formControlName="confirmacaoSenha"
        type="password"
        class="form-control"
        id="confirmacaoSenha"
        name="confirmacaoSenha"
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="!cadastroForm.valid"
  >
    Cadastrar
  </button>
</form>

<div class="cadastro mb-5">
  <p>Já possui uma conta?</p>
  <button class="btn btn-primary" routerLink="/login">Entrar</button>
</div>
